{% extends "base.html" %}

{% block title %}
    {% if preset %}
        Edit {{ preset.preset_name }}
    {% else %}
        Create Preset
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if preset %}
            Edit {{ preset.preset_name }}
        {% else %}
            Create a New Preset
        {% endif %}
    </h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Preset</button>
    </form>
{% endblock %}