{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if preset %}Edit {{ preset.preset_name }}{% else %}Create Preset{% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if preset %}Edit {{ preset.preset_name }}{% else %}Create a New Preset{% endif %}
    </h1>

    <form method="post" id="preset-form">
        {% csrf_token %}
        {{ form.as_p }}
    </form>

<div class="button-group">
    <a href="#" id="submit-form-link" role="button">Save Preset</a>
    
    {% if preset %}
        <a href="{% url 'preset-detail' preset.pk %}" role="button" class="secondary">Cancel</a>
    {% else %}
        <a href="{% url 'preset-list' %}" role="button" class="secondary">Cancel</a>
    {% endif %}
</div>

    <dialog id="loading-modal">
        <article style="text-align: center;">
            <header>
                <button aria-label="Close" rel="prev" onclick="closeModal('loading-modal')"></button>
                <img src="{% static 'images/seedbot_new.png' %}" alt="SeedBot" style="height: 64px;">
            </header>
            <h3>Checking flags...</h3>
            <p>Please wait a moment.</p>
            <progress indeterminate></progress>
        </article>
    </dialog>
{% endblock %}